* {
	margin: 0;
	padding: 0;
}

header {
	background-color: #5D4954;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	font-family: 'Poppins', sans-serif;
}

.logo {
	margin-left: 10px;
	color: rgb(226,226,226);
	letter-spacing: 5px;
	font-size: 20px
}

.list {
	display: flex;
	float: right;
	justify-content: space-around;
	width: 30%;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin-left: 15px;
}

nav ul li a {
	text-decoration: none;
	list-style: none;
	color: white;
}

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
}

@media screen and (max-width: 767px) {

	.logo {
		font-size: 13px;
	}

	.list {
		width: 60%
	}

	nav ul li a {
		font-size: 12px;
	}

	.burger{
		display: block;
	}
}

@media screen and (max-width: 419px) {
	.logo {
		font-size: 5.7px;
	}

	.list {
		width: 90%;
	}

	nav ul li a {
		font-size: 10px;
	}

	.burger {
		display: block;
	}

	.burger div {
		width: 15px;
		height: 1px;
	}
}